@import "tailwindcss";

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.btn-green {
  background: linear-gradient(90deg, #216432 0%, #114422 89.42%);
}

.hover-btn-green {
  background-color: #2164322f;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
.grid-container div {
  background-color: #114422;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  width: 900px;
  height: 600px;
  margin: 0 auto;
  background: #fafafa;
  padding: 20px;
}

/* Style for each grid item, using different background colors */
.item {
  border-radius: 20px;
  min-height: 250px;
}

/* Positioning each item for the collage style */
.item1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background: #8ecae6;
}
.item2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background: #219ebc;
}
.item3 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  background: #ffb703;
}
.item4 {
  grid-column: 1 / 2;
  grid-row: 2 / 2;
  background: #fb8500;
}
.item5 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background: #023047;
}

.tint {
  background-color: rgba(0, 0, 0, 0.336);
}
.form-tint {
  background-color: rgba(0, 0, 0, 0.692);
}
.img-tint {
  background-color: rgba(0, 0, 0, 0.301);
}
input::placeholder {
  color: #777777;
  opacity: 1;
}
input::-webkit-inner-spin-button {
  display: none;
}
.filter-text {
  font-weight: 500;
}
.hoteltextContainer {
  background-color: rgba(255, 255, 255, 0.671);
  backdrop-filter: blur(2px);
}
/* Custom scrollbar */
.filter-content-section::-webkit-scrollbar {
  width: 20px;
}

.filter-content-section::-webkit-scrollbar-track {
  background: transparent; /* light gray */
  border-radius: 10px;
}
.filter-content-section::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* default gray-like look */
  border-radius: 10px;
  border: 4px solid transparent; /* spacing to make it look like native */
  background-clip: content-box;
}
.login-container {
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(5px);
}
.login-tint {
  background-color: rgba(0, 0, 0, 0.813);
}
.tint-container {
  background-color: rgba(97, 97, 97, 0.203);
  backdrop-filter: blur(5px);
}

/* loader  */
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #206231;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.blur-bg {
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(15px);
}
